*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
}

html,
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeSpeed;
  font-family: Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.125;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

a {
  color: inherit;
}

a:visited {
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

code,
kbd,
samp {
  font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}